<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.fast" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>F.A.S.T.</name>
    <description>
        A Fast Action Space Tactics game
    </description>
    <author email="flavian.jacquot@gmail.com  " href="http://cordova.io">
        FAST TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <vs:toolsetVersion xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">6.3.1</vs:toolsetVersion>
    <preference name="windows-target-version" value="10.0" />
    <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    <plugin name="es6-promise-plugin" spec="^4.2.2" />
    <plugin name="cordova-plugin-camera-preview" spec="git+https://github.com/hekow/cordova-plugin-camera-preview.git" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="^3.0.1" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-dbmeter" spec="^2.1.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <engine name="ios" spec="4.2.0" />
    <engine name="windows" spec="4.4.2" />
    <engine name="browser" spec="^5.0.3" />
</widget>
